{# templates/module/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Modules{% endblock %}

{% block body %}
    <h1>List of Modules</h1>
    <ul>
        {% for module in modules %}
            <li><a href="{{ path('app_module_show', {'id': module.id}) }}">{{ module.name }}</a></li>
        {% endfor %}
           <a href="{{ path('app_module_create') }}">Créer un module</a>
    </ul>
{% endblock %}
