{% extends 'base.html.twig' %}

{% block title %}Module Details{% endblock %}

{% block body %}
    <h1>{{ module.name }}</h1>
    <p>status: {{ module.status }}</p>
    <p>Other details: ...</p>
    {# Afficher d'autres détails du module ici #}
{% endblock %}
